
<div class="card border-top-0 mb-3">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<label for="card-text" class="nav-link active">
				<img
				src="{{storm.author.avatar}}"
				class="img-fluid avatar avatar-sm mt-1 ms-2"
				alt=""
				/>
				{{storm.author.name}}</label
				>
			</li>
		</ul>
    <div class="card-body publishedStorm">
			<!-- <img src="{{storm.author.avatar}}" class="img-fluid avatar avatar-sm mt-2 ms-4" alt="..." />
        <h5 class="card-title stormAuthor">{{storm.author.name}}</h5> -->
        <p class="card-text mt-2">
            {{storm.text}}
        </p>
        {{>chart storm=storm}}
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
